= form_with(model: post, local: true) do |form|
  - if post.errors.any?
    #error_explanation
      %h2
        = pluralize(post.errors.count, "error")
        prohibited this post from being saved:
      %ul
        - post.errors.full_messages.each do |message|
          %li= message
  .field
    = form.label :title
    = form.text_field :title
  .field
    = form.label :content
    = form.rich_text_area :content
  .listing-form-box
  .listing-product-detail__category
    = form.label 'カテゴリー', class: 'listing-default__label'
    %span.listing-default--require 必須
    .listing-select-wrapper
      .listing-select-wrapper__box
      = form.select :category, @category_parent_array, {}, {class: 'listing-select-wrapper__box--select', id: 'parent_category'}
      %i.fas.fa-chevron-down.listing-select-wrapper__box--arrow-down
    .field
    = form.label :pay_id
    %label
      = form.radio_button :pay_id, 1
      有料公開
    %label
      = form.radio_button :pay_id, 2
      無料公開
  .field
    = "有料公開の場合のみ記載"
    = form.label :price
    = form.text_field :price
  .actions
    = form.submit
